body {
    background: rgb(95, 220, 240);
    background: linear-gradient(24deg, rgba(95, 220, 240, 1) 9%, rgba(28, 160, 213, 1) 31%, rgba(31, 90, 232, 1) 73%, rgba(129, 62, 217, 1) 89%);
}

.camposObrigatorios {
    color: rgb(216, 93, 55);
    text-shadow: 2px 2px 3px black;
}

strong {
    text-shadow: 2px 2px 5px white;
}

input[type="checkbox"] {
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 2rem;
    width: 0.5em;
    height: 0.5em;
    color: var(--color);
}

input[type="text"], input[type="number"] {
    height: 20px;
    margin-bottom: 8px;
    border-radius: 4px;
    border-width: 4px;
    border-style: inset;
    border-color: purple;
}

button {
    background-color: darkviolet;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input[type=range] {
    width: 30%;
    margin: 11.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -12px;
    width: 16px;
    height: 32px;
    background: #a94efffa;
    border: 2px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: purple;
}

input[type=range]::-moz-range-track {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 32px;
    background: #7c7cff;
    border: 2px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 12.6px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    width: 16px;
    height: 32px;
    background: #7c7cff;
    border: 2px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: #a93e30;
}

input[type=range]:focus::-ms-fill-upper {
    background: #36bd4d;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}